<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        h3 {
            background-image: url("../static/listmark.png");
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }

        .errors {
            color: red;
        }
    </style>

    <style type="text/css" th:inline="text">
        [[h3]] {
            background-image: url([[@{/listmark.png}]]);
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }
    </style>

    <script th:inline="javascript" type="text/javascript">
        // ....

        var authors = /*[[${allAuthors}]]*/ [];

        function setSelectedAuthor(author) {
            if (authors.find(a => a.id === author.id)) {
                let option = document.getElementById("author-select-option-" + author.id);
                option.selected = true
            }
        }
    </script>

    <script th:inline="javascript" type="text/javascript">
        // ....

        var genres = /*[[${allGenres}]]*/ [];

        function setSelectedGenres(genresJson) {

            genresJson.forEach(genre => {
                if (genres.find(g => g.id === genre.id)) {
                    let option = document.getElementById("genre-select-option-" + genre.id);
                    option.selected = true
                }
            })
        }
    </script>

    <script>
        function fillBookForm(book) {
            let bookId = document.getElementById("book_id_input")
            bookId.setAttribute("value", book.id)

            let bookTitle = document.getElementById("book-title-input")
            bookTitle.setAttribute("value", book.title)

            setSelectedAuthor(book.author)
            setSelectedGenres(book.genres)

            document.getElementById("hidden-book-id-input").value = book.id
        }
    </script>

    <script>
        function getBook() {
            const params = new URLSearchParams(document.location.search)
            const bookId = params.get("id")
            if (bookId != null) {
                fetch('http://localhost:8080/library/api/v2/book/' + bookId)
                    .then(response => response.json())
                    .then(json => fillBookForm(json))
            } else {
                document.getElementById("book-id-div").hidden = true
                document.getElementById("book-delete-button").hidden = true
            }
        }
    </script>

    <script>
       function deleteBook() {
           let form = document.getElementById("book-delete-form")

           form.addEventListener('submit', (event) => {
               event.preventDefault()
               let data = new FormData(form)
               fetch('http://localhost:8080/library/api/v2/book/' + data.get("id"), {
                   method: 'DELETE',
                   body: data})
                   .then(() => alert("Book deleted success!"))
                   .then(() => window.location = "/library/book")
           })
        }
    </script>

    <script>
        function saveBook(){
            let form = document.getElementById("book-edit-form")
            let formData = new FormData(form);

            form.addEventListener('submit', (event) => {
                event.preventDefault();
                let jsonData = serializeFormDataToJson(formData)
                fetch('http://localhost:8080/library/api/v2/book', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: jsonData})
                    .then(() => alert("Book added success!"))
                    .then(() => window.location = "/library/book")
            })
        }
    </script>

    <script>
        function updateBook(){
            let form = document.getElementById("book-edit-form")
            let formData = new FormData(form);

            form.addEventListener('submit', (event) => {
                event.preventDefault();
                let jsonData = serializeFormDataToJson(formData)
                fetch('http://localhost:8080/library/api/v2/book/' + formData.get("id"), {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: jsonData})
                    .then(() => alert("Book updated!"))
                    .then(() => window.location = "/library/book")
            })
        }
    </script>

    <script>
        function serializeFormDataToJson(formData) {
            const jsonObject = {};
            formData.forEach((value, key) => {
                if (Reflect.has(jsonObject, key)) {
                    if (!Array.isArray(jsonObject[key])) {
                        jsonObject[key] = [jsonObject[key]];
                    }
                    jsonObject[key].push(value);
                } else {
                    jsonObject[key] = value;
                }
            })
            return JSON.stringify(jsonObject);
        }
    </script>
</head>
<body onload="getBook()">

<form id="book-edit-form">
    <h3>Book details:</h3>

    <div id="book-id-div" class="row">
        <label for="book_id_input">ID:</label>
        <input id="book_id_input" readonly="readonly" name="id">
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" value="Enter title">
    </div>

    <div class="row">
        <label for="book-author-select">Author:</label>
        <select id="book-author-select" name="authorId">
            <option th:each="author : ${allAuthors}"
                    th:id="${'author-select-option-' + author.id}"
                    th:value="${author.id}"
                    th:text="${author.fullName}">Author
            </option>
        </select>
    </div>

    <div class="row">
        <label for="book_genres_select">Genres:</label>
        <select id="book_genres_select" name="genreIds" multiple="multiple">
            <option th:each="genre : ${allGenres}"
                    th:id="${'genre-select-option-' + genre.id}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">Genre</option>
        </select>
    </div>

    <div class="row">
        <button type="submit" onclick="book_id_input.value === '' ? saveBook() : updateBook()">Save</button>
        <a href="books.html" th:href="@{/book}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>
<form id="book-delete-form" th:method="post">
    <input id="hidden-book-id-input" type="hidden" name="id">
    <div class="row">
        <button id="book-delete-button" type="submit" onclick="deleteBook()">Delete</button>
    </div>
</form>
</body>
</html>